	*{
	padding: 0;
	margin: 0;
	}

	body{
		display: flex;
		height: 100vh;
		border: 1px solid yellow;
		justify-content: center;
		align-items: center;
	}

	h1{
		margin: 10px 0;
	}

	.buttom{
		border: none;
		width: 180px;
		padding: 14px;
		border-radius: 20px;
		outline: none;
		box-shadow: 2px 2px 4px rgba(44, 62, 80, 0.6);,
					-2px -2px 4px rgba(41, 128, 185, 1);
	}